@import "primeicons/primeicons.css";

.login-container {
    display: flex;
    justify-content: center;

}

.login-box {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-title {
    text-align: center;
    color: #2563eb;
    /* azul */
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.25rem;
    /* separación entre campos */
}

.button-container {
    display: flex;
    justify-content: center;
}

/* Estirar el componente p-iftalabel */
p-iftalabel {
    display: block;
    width: 100%;
}

/* Asegurar que el input ocupe todo el ancho disponible */
p-iconfield {
    width: 100%;
}

/* Hacer que el input también se expanda correctamente */
p-iconfield input {
    width: 100%;
    box-sizing: border-box;
}

p-select {
    width: 100%;
    box-sizing: border-box;
}