<div class="samsung-carousel" *ngIf="relatedProducts.length">
  <h2 class="section-title">Productos de Samsung</h2>

  <p-carousel 
    [value]="relatedProducts" 
    [numVisible]="2" 
    [numScroll]="1" 
    [circular]="true" 
    [showIndicators]="false"
    [showNavigators]="true"
    contentClass="carousel-content">

    <ng-template pTemplate="item" let-product>
      <div class="product-card">
        <img [src]="product.image" [alt]="product.title" class="product-image"(error)="onImgError($event)"/>

        <div class="product-info">
          <div class="product-title">{{ product.title }}</div>
          <div class="product-pricing">
            <span class="old-price">US$ {{ product.priceOld }}</span>
            <span class="new-price">US$ {{ product.priceNew }}</span>
            <span class="discount">{{ product.discount }}% OFF</span>
          </div>
          <div class="cuotas">{{ product.installments }}</div>
          <div *ngIf="product.envioGratis" class="envio">Envío gratis</div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="see-more-link">
    <a href="#">Ver más productos de Samsung</a>
  </div>
</div>
