<div class="producto-grid" *ngIf="product">
  <div class="galeria-columna">
    <p-galleria
      [value]="product.images"
      [numVisible]="product.images.length"
      [showItemNavigators]="true"
      [circular]="true"
      thumbnailsPosition="left"
      [containerStyle]="{ 'width': '100%', 'height': '600px' }"
    >
      <ng-template #item let-item>
        <img [src]="item.itemImageSrc" class="gallery-image" [alt]="item.alt" (error)="onImgError($event)"/>
      </ng-template>
      <ng-template #thumbnail let-item>
        <img [src]="item.thumbnailImageSrc" class="gallery-thumbnail" [alt]="item.alt"(error)="onImgError($event)" />
      </ng-template>
    </p-galleria>
  </div>

  <div class="info-columna">
    <h2>{{ product.title }}</h2>
    <h3 class="precio">US$ {{ product.price }}</h3>
    <p class="cuotas">{{ product.installments }}</p>
    <ul>
      <li *ngFor="let f of product.features">{{ f.label }}: {{ f.value }}</li>
    </ul>
    <button pButton type="button" label="Comprar"></button>
  </div>
</div>
